<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="" method="GET">
		{% csrf_token %} 
		<input type="text" name="title" style="height: 25px; width: 350px"> <br>
		<br>
		<input type="text" name="post_text" style="height: 25px; width: 550px"> <br>
		<br>
		<select name="category">
			<option value="">category</option>
			<option value="Romance">Romance</option>
			<option value="Horror">Horror</option>
			<option value="Dream">Dream</option>
		</select>
		<br>
		<br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>